.navbar {
  width: 100%;
  background-color: #171717;
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
}

.navbar__search {
  display: flex;
  align-items: center;
  flex: 0.95;
}
.navbar__search > input {
  background-color: #222222;
  border: none;
  outline: 0;
  padding: 8px;
  border-radius: 3px;
  color: #f4f4f4;
  width: 30vw;
}

.button_icon_white {
  color: #f4f4f4;
}

.navbar__category > select {
  padding: 7px;
  width: 14vw;
}

.navbar__navigate_elements {
  display: flex;
  align-items: center;
}

.navbar__navigate_elements > a {
  text-decoration: none;
  color: #f4f4f4;
  margin-right: 20px;
}

.navbar__navigate_elements > a:hover {
  color: green;
}

.icon_drop {
  display: none;
}

@media (max-width: 1160px) {
  .icon_drop {
    display: flex;
  }
  .navbar__search {
    display: none;
  }
  .navbar__navigate_elements {
    flex: 0.95;
  }
}

@media (max-width: 500px) {
  .navbar__navigate_elements > .home {
    display: none;
  }
}
